* {
  padding-left: 5px;
  margin: 0;
}

body {
  width: 100%;
}

.conteiner-header {
float: right;


}

.header-right-up{
  background-color: #f8f9fa;
  text-align: center;
  border: 1px solid #c8ccd1;
  margin-right: 10px;
  padding-right: 15px;
  width: 277px;
}

.header-right-down {
margin-top: 15px;
background-color: #f8f9fa;
border: 1px solid #c8ccd1;
margin-right: 10px;
padding-right: 15px;
width: 277px;
text-align: center;
padding-top: 5px;

}

.specifications {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr/ 50% 50%;
  overflow: visible;
  font-size: 15px;
}

.home {
  background-color: #f1feff;
}
/*
th, td {
  display: flex;
  float: left;
  vertical-align: top;
border: 0;
border-bottom: 1px solid #eaecf0;
padding: 7px 10px;
column-count: 2;
}
*/
.text1 {
  text-align: center;
  margin: 10px 10px 10px 25px;
  padding: 5px;
  border: 1px solid #c8ccd1;
  clear: both;
  background-color: #f1feff;
}

#monument {
  display: flex;
}

.ul-line {
  padding-left: 10px;
}

ul {
  padding-left: 20px;
}

a {
 text-decoration: none;
 color: #0645ad;
 background: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.conteiner-content {
  border: 1px solid #c8ccd1;
  padding: 5px 5px 5px 20px;
  clear: both;
  background-color: #e9f2fc;
  width: 403px;
  display: inline-block;



}

.content {
  text-align: center;

}

.block-1 {
  display: block;
  position: sticky;
  left: 12%;
  margin: 30px;
  text-align: center;
  padding: 15px;
  border: 1px solid #c8ccd1;
  background-color: #f1feff;
  width: 1000px;
}

.conteiner-image {
  float: left;
  background-color: #f8f9fa;
  width: 220px;
  font-size: 94%;
  text-align: center;
  width: 240px;
  padding: 5px 2px 2px 0;

}

.img-1 {
  width: 220px;
  height: 166px;
}



.img-2 {
 width: 280px;
 height: 284px;

}

.header-text {

display: block;
  float: inherit;

}

.conteiner-block-1 {
  background-color: #f8f9fa;
  float: right;

  width: 220px;
  font-size: 94%;
  text-align: center;
  width: 240px;
  padding: 5px 2px 2px 0;
}

.block-right {
  background-color: #eaecf0;
}

.block-right-1 {
    text-align: left;

  }
