* {
  padding-left: 5px;
  margin: 0;
}

.text1 {
  text-align: center;
  margin: 10px 10px 10px 25px;
  padding: 5px;
  border: 1px solid #c8ccd1;
  clear: both;
  background-color: #f1feff;
}

#monument {
  display: flex;
}

a {
 text-decoration: none;
 color: #0645ad;
 background: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
